body {
    background-color: rgb(171, 14, 14);
}

p {
    text-align: center;
}

em strong {
    color: rgb(18, 52, 163);
}

principal p {
    text-align: center;
}

em strong {
    color: red;
}

#banner {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#missao {
    font-size: 20px;
}

ul {
    display: inline-block;
    vertical-align: top;
    margin-right: 15%;
}


header {
    background-color: aqua;
    display: flex;
    flex-direction: row;
}

.logo {
    height: 150px;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.container {
    width: 940px;
    margin: auto;
}

header div.container {
    display: flex;
}